
 @media screen and (max-width:760px) {
    body::before {
        height: 330px;
        width: 330px;
    }
 /* NavBar  */

 nav img {
    height: 30px;
}


.nav-items{
    display: none;
}

nav{
    position: relative;
}

.signin-btn{
    position: absolute;
    right: 30px;
    font-size: 15px ;
}
 /* Intro-Section  */
 
 /* Left-Section  */

 .left-section h1 {
    font-size: 40px;
    margin-top: 100px;
}

.left-section h4 {
    width: 250px;
    font-size: 15px;
}

.learn-more-btn{
    width: 170px;
    font-size: 1rem;
}
 /* Right-Section  */

   
  
  
    .imgs-div img:nth-child(3) {
        height: 220px;
      
       
    }
   
    
.vector-img{
    height: 115px;
    left: 130px;
    top: -130px;
}

.vector-dot {
    top: -130px;
    height: 22px;
    left: 130px;
}
 }